<h1>Editing abunai post</h1>

<%= render "form", abunai_post: @abunai_post %>

<br>

<div>
  <%= link_to "Show this abunai post", @abunai_post %> |
  <%= link_to "Back to abunai posts", abunai_posts_path %>
</div>
